//- Inline pane editor panel (no modal overlay)
.pane-details
  .pane-details-header
    span.pane-details-title
      i.fas.fa-terminal
      |  Pane Configuration

  .pane-form
    .form-group
      label Profile
      select.form-control([(ngModel)]='pane.profileId')
        option(value='') -- Select Profile --
        option(*ngFor='let profile of profiles', [value]='profile.id')
          | {{ profile.name }}

    .form-group
      label Working Directory
      input.form-control(
        type='text',
        [(ngModel)]='pane.cwd',
        placeholder='C:\\path\\to\\project or /home/user/project'
      )

    .form-group
      label Startup Command
      input.form-control(
        type='text',
        [(ngModel)]='pane.startupCommand',
        placeholder='e.g., npm run dev'
      )
