.workspace-list-container
  //- Tab bar navigation
  .tab-bar
    .tab(
      *ngFor='let workspace of workspaces',
      [class.active]='isSelected(workspace)',
      (click)='selectWorkspace(workspace)'
    )
      span.tab-icon([style.color]='workspace.color')
        i.fas([class]='"fa-" + (workspace.icon || "columns")')
      span.tab-name {{ workspace.name }}
      span.tab-close(
        (click)='deleteWorkspace($event, workspace)',
        title='Delete workspace'
      )
        i.fas.fa-xmark

    .tab-new((click)='createWorkspace()', title='New workspace')
      i.fas.fa-plus

  //- Tab content (editor)
  .tab-content(*ngIf='editingWorkspace')
    workspace-editor(
      [workspace]='editingWorkspace',
      [autoFocus]='isCreatingNew',
      [hasUnsavedChanges]='hasUnsavedChanges',
      (save)='onEditorSave($event)',
      (cancel)='onEditorCancel()'
    )

  //- Empty state (when no workspaces)
  .tab-content.empty-state(*ngIf='!editingWorkspace && workspaces.length === 0')
    p No workspaces configured yet.
    p Click
      strong +
      | to create your first workspace.
