.workspace-list-container
  //- Tab bar navigation
  .tab-bar
    .tab(
      *ngFor='let tab of displayTabs; trackBy: trackByTab',
      [class.active]='isTabSelected(tab)',
      (click)='!tab.isNew && selectWorkspace(tab.workspace)'
    )
      span.tab-icon([style.color]='tab.workspace.color')
        i.fas([class]='"fa-" + (tab.workspace.icon || "columns")')
      span.tab-name {{ tab.workspace.name || 'New Workspace' }}
      span.tab-close(
        *ngIf='!tab.isNew',
        (click)='deleteWorkspace($event, tab.workspace)',
        title='Delete workspace'
      )
        i.fas.fa-xmark

    .tab-new((click)='createWorkspace()', title='New workspace')
      i.fas.fa-plus

  //- Tab content (editor)
  .tab-content(*ngIf='editingWorkspace')
    workspace-editor(
      [workspace]='editingWorkspace',
      [autoFocus]='isCreatingNew',
      [hasUnsavedChanges]='hasUnsavedChanges',
      (save)='onEditorSave($event)',
      (cancel)='onEditorCancel()'
    )

  //- Empty state (when no workspaces)
  .tab-content.empty-state(*ngIf='!editingWorkspace && workspaces.length === 0')
    p No workspaces configured yet.
    p Click
      strong +
      | to create your first workspace.
